// variabili 

$primarycol: #051521;
$secondarycol: #a9df2b;



// regole generali 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: $primarycol;
    min-height: 100vh;
}